@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
	scroll-behavior: smooth;
}

body {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	width: 100%;
	height: 100vh;
	margin: 0;
	background-color: #1c1c25;
	color: #ffffff;
	padding-top: 2rem;
	overflow-x: hidden;
}

/* THIS IS FOR THE NAVIGATION BAR */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	height: 50px;
	padding: 0 3rem;
}

.logo_header {
	color: #ffffff;
	font-size: 2rem;
	font-weight: bold;
	animation: floatInLeft 0.8s ease-out forwards;
}

.navbar-lang {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.navbar nav ul {
	display: flex;
	list-style-type: none;
	gap: 3em;
	padding: 0;
	margin: 0;
	animation: floatInRight 0.8s ease forwards;
}

.navbar nav li a {
	display: block;
	color: #fff;
	letter-spacing: 1px;
	border-radius: 15px;
	font-size: 1.25rem;
	padding: 15px 15px;
	text-decoration: none;
	transition: all 0.3s ease;
}

.navbar nav ul a:hover {
	background-color: #fff;
	color: black;
	transform: translateY(-10px);
	box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

/* THIS IS FOR THE NAVBAR RESPONSIVENESS */
@media (max-width: 800px) {
	.navbar {
		flex-direction: column;
		align-items: center;
		height: auto;
		padding: 1.5rem 1rem;
		gap: 3rem;
	}

	.logo_header {
		text-align: center;
		font-size: 3rem;
	}

	.navbar nav ul {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.navbar nav li a {
		font-size: 2rem;
		padding: 20px 20px;
	}
}

/* THIS IS FOR THE NAVBAR ANIMATIONS */
@keyframes floatInLeft {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes floatInRight {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

/* THIS IS FOR THE LANGUAGE DROPDOWN MENU */
.language-dropdown {
	position: relative;
	cursor: pointer;
	display: inline-block;
	border-radius: 10px;
	font-weight: 500;
	color: white;
}

.language-button {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #c8c5c5;
	gap: 0.5rem;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	background: transparent;
	border: 2px solid #c8c5c5;
	border-radius: 10px;
	padding: 0.75rem 1.5rem;
	font-size: 1rem;
	letter-spacing: 1px;
	transition: background 0.3s ease, color 0.3s ease;
	animation: floatInRight 0.8s ease forwards;
}

.language-dropdown:hover .language-button {
	background: rgb(176, 176, 176);
	color: black;
	border-radius: 10px;
}

.language-menu {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 90%;
	left: 50%;
	color: #000000;
	padding: 0.75rem 0.5rem;
	border-radius: 10px;
	background: #c8c5c5;
	transform: translateX(-50%) translateY(-10px);
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.language-dropdown:hover .language-menu {
	opacity: 1;
	visibility: visible;
	transform: translateX(-50%);
}

.language-menu li {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	padding: 12px 15px;
	cursor: pointer;
}

.language-menu li:hover {
	background-color: rgb(201, 192, 192);
}

.flags {
	width: 20px;
	height: 15px;
	border-radius: 2px;
	object-fit: cover;
}

/* THIS IS FOR THE INFORMATION BOXES */
.info_title {
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
}

.information {
	margin: 2rem;
	margin-top: 5rem;
	margin-bottom: 10rem;
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	gap: 2rem;
}

.information .containers {
	background-color: #282c34;
	padding: 2rem;
	border: 2px solid transparent;
	border-radius: 10px;
	transition: all 0.3s ease;
}

.information .containers:hover {
	background-color: #323232;
	border-color: #fff;
}

.information .containers h1 {
	color: azure;
	margin-bottom: 3rem;
	font-size: 2rem;
}

.information .containers p {
	color: azure;
	font-size: 1.5rem;
}

/* THIS IS FOR THE CONTACT BOXES */
.contact_title {
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
}

.contacts {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
	margin: 2rem;
	margin-top: 5rem;
	margin-bottom: 10rem;
}

.contacts .boxes {
	background-color: #282c34;
	padding: 1rem;
	border: 2px solid transparent;
	border-radius: 10px;
	text-align: left;
	transition: all 0.3s ease;
}

.contacts .boxes:hover {
	border-color: #fff;
}

.contacts svg {
	display: flex;
	background-color: rgb(0, 0, 0);
	padding: 8px 16px;
	color: #fff;
	border-radius: 10px;
}

.contacts .boxes h4 {
	color: azure;
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	font-weight: 600;
}

.contacts .boxes p {
	margin-bottom: 5rem;
	font-size: 1.5rem;
	color: azure;
}

.contacts .boxes a {
	display: inline-block;
	letter-spacing: 1px;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 10px;
	font-size: 1.5rem;
	text-decoration: none;
	padding: 8px 20px;
	transition: all 0.3s ease;
}

.contacts .boxes a:hover {
	background-color: #fff;
	color: #333;
	transform: translateY(-3px);
	box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

@media (max-width: 1300px) {
	.contacts {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 900px) {
	.contacts {
		grid-template-columns: 1fr;
	}

	.contacts .boxes p {
		margin-bottom: 2rem;
		font-size: 1.5rem;
	}

	.contacts .boxes a {
		font-size: 1.5rem;
		padding: 6px 15px;
	}

	.contacts .boxes h4 {
		font-size: 1.5rem;
	}
}

/* HORIZONTAL LINE */
hr {
	border: none;
	height: 1px;
	background: linear-gradient(to right,
			transparent 0%,
			rgba(255, 255, 255, 0.2) 50%,
			transparent 100%);
	box-shadow: 0 0 6px rgba(255, 255, 255, 0.08);
	margin: 2rem 0;
}

/* FOOTER */
.footer_box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: #fff;
	gap: 5rem;
	padding: 5rem;
}

.footer_box .logo_footer img {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	height: 250px;
	max-width: 100%;
	object-fit: contain;
}

.footer_box .column {
	margin: 1rem;
	min-width: 200px;
}

.footer_fox .column h4 {
	color: #fff;
	margin-bottom: 2rem;
	font-size: 2rem;
	font-weight: 600;
}

.footer_box .column>a {
	display: block;
	padding: 1rem;
	color: #fff;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer_box .column>a:hover {
	color: #b10e0e;
}

@media (max-width: 300px) {
	.footer_box {
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		padding: 3rem 2rem;
	}

	.footer_box .logo_footer img {
		height: 100px;
		width: 100px;
	}
}

/* COPYRIGHT */
.copyright {
	background-color: #39397c;
	font-size: 0.5rem;
	padding: 1rem;
	max-width: 100%;
}

/* THIS IS FOR THE SKILLS CONTAINER */
.container_skills {
	padding: 2rem;
	text-align: center;
}

.skills_title {
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
}

.skills h2 {
	font-size: 1.5rem;
	color: #e0e0e0;
	margin-bottom: 40px;
}

.skills_logos {
	display: flex;
	justify-content: center;
	gap: 5rem;
}

.logo {
	width: 200px;
	height: 200px;
	background-color: white;
	border-radius: 15px;
}

.logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.logo img[alt*="JavaScript"] {
	transform: scale(1.4);
	/* Increase size to match others */
}