@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
	scroll-behavior: smooth;
}

body {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	width: 100%;
	height: 100vh;
	margin: 0;
	background-color: #1c1c25;
	color: #ffffff;
	padding-top: 40px;
}

.splash {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	background: #000;
	color: #fff;
	font-size: 4rem;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 200;
	animation: FadeOut 1s forwards;
	animation-delay: 2s;
}

@keyframes FadeIn {
	to {
		opacity: 1;
	}
}

.fadein {
	opacity: 0;
	animation: FadeIn 1s ease-in forwards;
}

@keyframes FadeOut {
	99% {
		opacity: 0;
		display: flex;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

/* THIS IS FOR THE NAVIGATION BAR */
header {
	display: flex;
	justify-content: center;
	font-weight: bold;
	height: 140px;
	margin-bottom: 40px;
	background-color: rgb(32, 35, 42);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header nav ul {
	display: flex;
	list-style-type: none;
	gap: 2em;
	font-size: 30px;
	margin-bottom: 5px;
	margin-right: 30px;
}

header nav li a {
	display: block;
	color: #fff;
	letter-spacing: 1px;
	border-radius: 15px;
	font-size: 1.5rem;
	padding: 30px 30px;
	text-decoration: none;
	transition: all 0.3s ease;
}

header nav ul a:hover {
	background-color: #fff;
	color: black;
	transform: translateY(-10px);
	box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

/* THIS IS THE COUNTER INFORMATION BOXES */
.info_title {
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
}

.projects_display {
	padding: 2rem;
	max-width: 1600px;
	margin: 0 auto;
}

.counter_boxes {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	margin: 2rem;
	padding: 2rem;
	border-radius: 15px;
}

@media (min-width: 640px) {
	.counter_boxes {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1024px) {
	.counter_boxes {
		grid-template-columns: repeat(3, 1fr);
	}
}

.containers {
	background-color: #374151;
	margin: 1rem;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
	transition: transform 0.5s, box-shadow 0.5s;
	transform: translateY(50px);
	animation: fadeInUp 1s ease forwards;
	opacity: 0;
}

.counter_boxes .containers h2 {
	font-size: 1.75rem;
	font-weight: 500;
}

.counter_boxes .containers span {
	font-size: 5rem;
	font-weight: 700;
}

.containers img {
	filter: invert();
}

@keyframes fadeInUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* THIS IS THE PROJECT INFORMATION BOXES */
.projects_title {
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
}

.projects_box {
	display: grid;
	grid-template-columns: 1fr;
	background-color: #282c34;
	border-radius: 15px;
	gap: 1rem;
	padding: 0 1rem;
	padding-bottom: 3rem;
	margin-bottom: 10rem;
}

@media (min-width: 640px) {
	.projects_box {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1024px) {
	.projects_box {
		grid-template-columns: repeat(3, 1fr);
	}
}

.project_containers {
	text-align: left;
	background: #374151;
	border-radius: 15px;
	margin: 2rem;
	padding: 1rem;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
	transition: transform 0.3s, box-shadow 0.5s;
	transform: translateY(0);
}

.project_containers:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.project_containers:nth-child(2) {
	animation-delay: 0.1s;
}

.project_containers:nth-child(3) {
	animation-delay: 0.1s;
}

.project_containers img {
	width: 100%;
	height: 13rem;
	object-fit: cover;
	border-radius: 15px;
	margin-bottom: 1rem;
}

.project_containers h2 {
	text-align: center;
	font-size: 2rem;
	margin-top: 0.5rem;
}

.project_containers p {
	color: #fff;
}

.project_containers > a {
	color: #ffffff;
	font-size: 1.5rem;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.3s ease;
}

.project_containers > a:hover {
	color: #b10e0e;
}

/* HORIZONTAL LINE */
hr {
	border: none;
	height: 1px;
	background: linear-gradient(
		to right,
		transparent 0%,
		rgba(255, 255, 255, 0.2) 50%,
		transparent 100%
	);
	box-shadow: 0 0 6px rgba(255, 255, 255, 0.08);
	margin: 2rem 0;
}

/* FOOTER */
footer {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15rem;
	grid-template-columns: repeat(3, 1fr);
	color: white;
	padding-bottom: 8rem;
}

footer .logo img {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	height: 300px;
}

footer .column h4 {
	color: #fff;
	margin-bottom: 2rem;
	font-size: 2rem;
	font-weight: 600;
}

footer .column > a {
	display: block;
	padding: 1rem;
	color: #fff;
	text-decoration: none;
	transition: all 0.3s ease;
}

footer .column > a:hover {
	color: rgb(218, 64, 64);
}

/* COPYRIGHT */
.copyright {
	background-color: #39397c;
	font-size: 0.5rem;
	padding: 1rem;
}
