footer {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15rem;
	color: white;
	padding: 4rem 2rem 8rem;
	flex-wrap: wrap; /* Allows items to wrap on smaller screens */
	text-align: center;
}

footer .logo img {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	height: 300px;
	max-width: 100%;
}

footer .column {
	min-width: 200px;
	margin: 1rem;
}

footer .column h4 {
	color: #fff;
	margin-bottom: 2rem;
	font-size: 2rem;
	font-weight: 600;
}

footer .column > a {
	display: block;
	padding: 1rem;
	color: #fff;
	text-decoration: none;
	transition: all 0.3s ease;
}

footer .column > a:hover {
	color: #b10e0e;
}

/* 🔁 Responsive Styling */
@media (max-width: 900px) {
	footer {
		flex-direction: column;
		align-items: center;
		gap: 4rem;
	}

	footer .logo img {
		height: 200px;
	}

	footer .column h4 {
		font-size: 1.5rem;
	}
}
